<!DOCTYPE html>
<html>
  <head>
    <title>Ignite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>

    <script>
      window.env = <%= Rails.env.to_json.html_safe %>;
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
